
[submodule "wildplus"]
	path = wildplus
	url = git@github.com:ReeViiS69/wildkernel_patches.git
[submodule "gitlab.com-simonpunk"]
	path = gitlab.com-simonpunk
	url = git@gitlab.com:ReeViiS69/minimalsusfs.git
[submodule "github.com-topjohnwu"]
	path = github.com-topjohnwu
	url = git@github.com:ReeViiS69/magiskboot-linux.git
